@import "tailwindcss";

@theme {
    --color-primary: #000;
    --color-primary-hover: #1a1a1a;
    --color-bg-main: #ffffff;
    --color-bg-secondary: #fafafa;
    --color-border-color: #e5e7e9;
    --color-text-main: #1e293b;
    --color-text-secondary: #647488;
    --color-success: #10b981;
    --color-error: #ef4444;
    --color-warning: #f59e0b;

    --font-roboto: "Roboto", sans-serif;
    --radius: 0.75rem;
}

@layer base {
    body {
        @apply bg-bg-main text-text-main font-roboto;
    }
}

@layer components {
    .btn-primary {
        @apply bg-primary hover:bg-primary-hover text-white font-bold py-2 px-4 rounded transition-all duration-200 shadow-sm;
    }

    .card {
        @apply bg-white border border-border-color rounded-md shadow-sm overflow-hidden;
    }

    .input-field {
        @apply w-full px-4 py-2 border border-border-color rounded-lg focus:outline-none focus:ring-2 focus:ring-primary/20 focus:border-primary transition-all;
    }
}

/* Animations */
@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
}

.animate-shake {
    animation: shake 0.2s ease-in-out 0s 2;
}
